<div class="post__insert">
    <p>
        <b>You made it this far!</b> If you enjoyed and fell other may find it usefull you can 
        <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://twitter.com/intent/tweet?text={{ encodedPostTitle }}&url={{ encodedPostUrl }}&via=derekvincent__">tweet this
            article</a>
        or
            <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/shareArticle?url={{ encodedPostUrl }}&title={{ encodedPostTitle }}">share on LinkedIn</a>
        so others can discover it. Or
            <a target="_blank" rel="noopener noreferrer" href="https://mobile.twitter.com/search?q={{ encodedPostUrl }}">add to the
        discussion on Twitter</a>.
    </p>
</div>