{% set desc = description %}
{% if not desc %}
    {% set desc = content | striptags | truncate(140) %}
{% endif %}

{% set imgTitle %}{{ title | slug }}{% endset %}
{% set socialHtml%}
<style>
    body { 
      background-image: url('http://localhost:8080/images/social-share-post-card.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 1200px 630px;
      font-family: IBM Plex Sans,sans-serif;
    }
  
    .title {
      position: absolute;
      top: 62px;
      left: 62px;
      width: 793px;
      height: 247px;
      padding: 5px;
      font-size: 42;
      text-align: center;
    }

    .title p {
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
    }

    .description {
      position: absolute;
      top: 415px;
      left: 63px;
      width: 1066px;
      height: 101px;
      padding: 14px;
      font-size: 22;
    }
</style>
<div class="container">
  <div class="title"><p>{{title}}</p></div>
  <div class="description">{{desc}}</div>
</div>
{% endset %}

{% set socialCardUrl %}
  {% socialImg
    fileName=imgTitle,
    input=socialHtml,
    inputType="html",
    inputDir="./src",
    outputPath="/social-share/",
    highRes=true,
    debugOutput=false
  %}
{% endset %}